body{
    position: relative;
    height: 100px;
}
/* <!--Exchange runs Area start-->*/
.over ul {
    list-style: none;
    margin-top: 20px;
}

.over ul li {
    display: inline;
    padding: 10px;
}
/* <!--Exchange runs Area end-->*/
